body, h1, h2, h3, h4, p, a {
  margin: 0;
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}
body {
  font-family: 'Helvetica', 'Arial', sans-serif;
}
.header {
  display: flex;
  height: 100vh;
  background-image: url(https://img.freepik.com/free-photo/dark-plaster-pattern_1194-7094.jpg?t=st=1656711814~exp=1656712414~hmac=d90e4bf8e9f328659deb72b808b4aac3ddcd8e8bf174af1ef6752ff05420a7b3&w=1380);
  background-size: cover;
  background-position: center;
}
.header-title {
  font-size: 140px;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  margin: auto;
  cursor: pointer;
}
.overlay {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
}
